//MAIN PRODUCTOS Y GALERIA
main {
    .grid-container-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .card {
            margin: 5px;
            &:hover {
                border-color: $marron-oscuro;
                border: 8px;
                box-shadow: 0 1px 1px $marron-claro, 0 0 8px $marron-claro;
            }

                .card-body {
                    display: flex;
                    flex-direction: column;

                    .card-title {
                        @include fontStyle (bolder);
                    }

                    .card-text {
                        @extend %texto-card;
                    }

                    .boton {
                        @extend %boton-card;

                        &:hover {
                            color: #ebedee;
                            font-size: 20px;
                            background-color: $marron-oscuro;
                        }
                    }
                }
            }


        }
    }