//MAIN PRODUCTOS Y GALERIA
main {
    .grid-container-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .card {
            margin: 5px;
            .card-body {
                display: flex;
                flex-direction: column;

                .card-title {
                    @include fontStyle (bolder);
                }

                .card-text {
                    @extend %texto-card;
                }

                .boton {
                    @extend %boton-card;

                    &:hover {
                        color: #ebedee;
                        font-size:20px ;
                        background-color:$marron-oscuro;
                    }
                }
            }
        }


    }
}